<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{sentenceCase name}}</title>
    <include src="partials/common-head.html"></include>
    <link rel="stylesheet" href="css/pages/{{dashCase name}}.scss">
    <script src="js/pages/{{dashCase name}}.js"></script>
</head>

<body>
    <h1>{{sentenceCase name}}</h1>
</body>

</html>